.stats-badge-icon {
    @apply
    flex
    items-center
    justify-center
    w-10
    h-10
    aspect-square
    mb-3
    rounded-full
    sm:w-12
    sm:h-12
}

.stats-text {
    @apply
    text-lg
    md:text-xl
    xl:text-2xl
    font-semibold
}